<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Search Engine</title>
</head>
<body class="search-body">
    <div  class="loading">
    </div>
    <h1>Search Engine</h1>
    <div class="searchengine">
        <div class="searchbar">
            <form action="#" method="post">
                {{search.csrf_token}}
                {{search.search(class_ = "search")}}
                {{search.submit(class_ = 'icon')}}
            </form>
        </div>
    </div>
    <div class="search-results">
        {%if query != None%}
        {%if profane != True%}
        <div class="wiki-result">
            {%for i in engine.wiki_search()%}
            {%if i != 'Other reasons this message may be displayed: '%}
            <p>{{i}}</p>
            {%endif%}
            {%endfor%}
            {%if engine.wiki_search()|count > 1%}
            <p>To read more : <a style="color: aliceblue;" target="_blank" href="https://en.wikipedia.org/wiki/{{engine.word}}">Click here</a></p>
            {%else%}
            <p>Please Check your spelling <b>IT IS CASE SESITIVE</b></p>
            {%endif%}
        </div>
        {%else%}
        <h3>Do not search profane words in this engine</h3>
        {%endif%}
        {%endif%}
        {%if profane != True%}
        <div class="link-results">
            {%if query != None%}
            <div class="books-results">
                <h3>Top Books</h3>
                <ul>
                    {%for i in engine.library_search()%}
                    <li><a href="https://openlibrary.org//{{i['link']}}" target="_blank">{{i['title']}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div class="books-results">
                <h3>NEWS</h3>
                <ul>
                    {%for i in engine.news_search()%}
                    <li><a href="{{i.url}}" target="_blank">{{i.title}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            {%endif%}
        </div>
        {%else%}
        <h3>No Books will be provided for this query</h3>
        {%endif%}
    </div>
    <div class="btns">
        {%if member == 'teacher'%}
        <a href="{{url_for('teacher_login')}}" class="btn med-btn">Back</a>
        {% elif member == 'student'%}
        <a href="{{url_for('student_login')}}" class="btn med-btn">Back</a>
        {%endif%}
    </div>
</body>
<script>
</script>

</html>