<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Share events</title>
</head>
<body>
    <body class="login-body">
        <div class="register">
            <form method="post">
                <h3 class="label">Event Details</h3>
                {{ form.csrf_token }}
                {{form.name (class_ = "input")}}
                {{form.venu (class_ = "input")}}
                {{form.date (class_ = "input")}}
                {{form.description (class_ = 'input')}}
                {{form.submit (class_ = 'btn')}}

            </form>
        </div>
</body>
</body>
</html>